<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <h1>Finish Creating Profile</h1>
  <form action="/processProfile" method="post">
    <label for="firstname">First Name:</label>
    <input type="text" id="firstName" name="firstname" required>
    <br>
    <label for="lastname">Last Name:</label>
    <input type="text" id="lastname" name="lastname" required>
    <br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required>
    <br>
    <button type="submit">Finish Profile</button>
  </form>
</body>
</html>